
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px;
    text-align: center;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    
}
h1{
    text-align: center;
}
